<div class="row">

    <div class="col-12">
        <h1>Sửa Lớp</h1>
    </div>
</div>

<div class="row">
    <div class="col-8">
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form class="form" method="post">
            <div class="form-group">
                <label class="form-label">Tên Lớp</label>
                <input type="text" class="form-control" name="TenLop" placeholder="Nhập tên Lớp" value="@Model.TenLop">
            </div>


            <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
    </div>
</div>